In [15]:
import pandas as pd
import numpy as np

In [2]:
d = {'col1': [1, 2, 3, 4, 7], 'col2': [4, 5, 6, 9, 5], 'col3': [7, 8, 12, 1, 11]}

df = pd.DataFrame(data=d)

print(df)

   col1  col2  col3
0     1     4     7
1     2     5     8
2     3     6    12
3     4     9     1
4     7     5    11

# Count the number of columns:

In [3]:
count_column = df.shape[1]
print(count_column)

3

count the number of rows:

In [4]:
count_row = df.shape[0]
print(count_row)

5

The max() function:

In [5]:
Average_pulse_max = max(80, 85, 90, 95, 100, 105, 110, 115, 120, 125)

print (Average_pulse_max)

125

# The min() function

In [6]:
Average_pulse_min = min(80, 85, 90, 95, 100, 105, 110, 115, 120, 125)

print (Average_pulse_min)

80

# The mean() function

In [12]:
Calorie_burnage = [240, 250, 260, 270, 280, 290, 300, 310, 320, 330]

Average_calorie_burnage = np.mean(Calorie_burnage)

print(Average_calorie_burnage)

285.0

# Data Preparation

In [16]:
health_data = pd.read_csv("UceResultsBySchool2011-2016.csv", header=0, sep=",")
health_data
# print(health_data)
# header=0 means that the headers for the variable names are to be found in the first row 
# sep="," means that "," is used as the separator between the values

,YEAR,DISTRICT,SCHOOL,TOTAL CANDIDATES,TOTAL DIV 1,% DIV 1,TOTAL DIV 2,% DIV 2,TOTAL DIV 3,% DIV 3,...,MALE TOTAL DIV3,MALE % DIV3,MALE TOTAL DIV4,MALE % DIV4,MALE TOTAL DIV7,MALE % DIV7,MALE TOTAL DIV9,MALE % DIV9,MALE TOTAL X,MALE % X
0,2011,WAKISO,GAYAZA HIGH SCHOOL,176.0,175.0,99.4,1.0,0.6,NaN,0.0,...,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0
1,2011,MUKONO,NAMILYANGO COLLEGE,151.0,150.0,99.3,NaN,0.0,NaN,0.0,...,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.7
2,2011,MUKONO,"MT.ST.MARY'S,NAMAGUNGA",153.0,151.0,98.7,2.0,1.3,NaN,0.0,...,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0
3,2011,WAKISO,"UGANDA MARTYRS SS,NAMUGONGO",222.0,216.0,97.3,6.0,2.7,NaN,0.0,...,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0
4,2011,BUSHENYI MAIN,KITABI SEMINARY,73.0,71.0,97.3,2.0,2.7,NaN,0.0,...,2.0,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17634,2016,ZOMBO,PAIDHA SECONDARY SCHOOL P.O.BOX 117 PAIDHA,148.0,0.0,0.0,12.0,8.1,30.0,20.3,...,25.0,24.0,53.0,51.0,0.0,0.0,10.0,9.6,4.0,3.8
17635,2016,ZOMBO,PAKADHA SEED SECONDARY SCHOOL P.O.BOX 143 P...,68.0,0.0,0.0,2.0,2.9,11.0,16.2,...,7.0,17.5,29.0,72.5,0.0,0.0,3.0,7.5,0.0,0.0
17636,2016,ZOMBO,"CHARITY COLLEGE,PAIDHA P.O.BOX 47 PAIDHA",128.0,0.0,0.0,4.0,3.1,6.0,4.7,...,6.0,5.8,54.0,51.9,1.0,1.0,31.0,29.8,8.0,7.7
17637,2016,ZOMBO,NEGRINI MEM. SECONDARY SCHOOL P.O.BOX 156 P...,45.0,0.0,0.0,1.0,2.2,2.0,4.4,...,2.0,6.5,19.0,61.3,0.0,0.0,9.0,29.0,1.0,3.2
17638,2016,ZOMBO,JANGOKORO SEED SEC. SCHOOL P.O.BOX 139 PAIDHA,50.0,0.0,0.0,1.0,2.0,4.0,8.0,...,4.0,18.2,10.0,45.5,0.0,0.0,7.0,31.8,0.0,0.0

# printing first five rows

In [17]:
health_data.head()

,YEAR,DISTRICT,SCHOOL,TOTAL CANDIDATES,TOTAL DIV 1,% DIV 1,TOTAL DIV 2,% DIV 2,TOTAL DIV 3,% DIV 3,...,MALE TOTAL DIV3,MALE % DIV3,MALE TOTAL DIV4,MALE % DIV4,MALE TOTAL DIV7,MALE % DIV7,MALE TOTAL DIV9,MALE % DIV9,MALE TOTAL X,MALE % X
0,2011,WAKISO,GAYAZA HIGH SCHOOL,176.0,175.0,99.4,1.0,0.6,NaN,0.0,...,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0
1,2011,MUKONO,NAMILYANGO COLLEGE,151.0,150.0,99.3,NaN,0.0,NaN,0.0,...,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.7
2,2011,MUKONO,"MT.ST.MARY'S,NAMAGUNGA",153.0,151.0,98.7,2.0,1.3,NaN,0.0,...,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0
3,2011,WAKISO,"UGANDA MARTYRS SS,NAMUGONGO",222.0,216.0,97.3,6.0,2.7,NaN,0.0,...,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0
4,2011,BUSHENYI MAIN,KITABI SEMINARY,73.0,71.0,97.3,2.0,2.7,NaN,0.0,...,2.0,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0

# Data cleaning
 Remove Blank Rows
 dropna() function to remove the NaNs
  axis=0 means that we want to remove all rows that have a NaN value

In [18]:
health_data.dropna(axis=0,inplace=True)
health_data

,YEAR,DISTRICT,SCHOOL,TOTAL CANDIDATES,TOTAL DIV 1,% DIV 1,TOTAL DIV 2,% DIV 2,TOTAL DIV 3,% DIV 3,...,MALE TOTAL DIV3,MALE % DIV3,MALE TOTAL DIV4,MALE % DIV4,MALE TOTAL DIV7,MALE % DIV7,MALE TOTAL DIV9,MALE % DIV9,MALE TOTAL X,MALE % X
3197,2012,JINJA,JINJA SECONDARY SCHOOL,498.0,38.0,7.6,111.0,22.3,149.0,29.9,...,84.0,29.2,95.0,33.0,1.0,0.3,7.0,2.4,4.0,1.4
3263,2012,WAKISO,"VICTORIA HIGH SCHOOL,NANSANA",186.0,12.0,6.5,36.0,19.4,51.0,27.4,...,24.0,26.4,26.0,28.6,7.0,7.7,2.0,2.2,3.0,3.3
3327,2012,KAMPALA,MBUYA COLLEGE SCHOOL,107.0,6.0,5.6,21.0,19.6,29.0,27.1,...,11.0,19.0,26.0,44.8,2.0,3.4,1.0,1.7,1.0,1.7
3444,2012,KAMPALA,KOLOLO SECONDARY SCHOOL,411.0,18.0,4.4,62.0,15.1,104.0,25.3,...,49.0,23.3,94.0,44.8,3.0,1.4,10.0,4.8,1.0,0.5
3549,2012,RUKUNGIRI,RUKUNGIRI HIGH SCHOOL,169.0,6.0,3.6,26.0,15.4,45.0,26.6,...,19.0,30.2,21.0,33.3,1.0,1.6,1.0,1.6,3.0,4.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17634,2016,ZOMBO,PAIDHA SECONDARY SCHOOL P.O.BOX 117 PAIDHA,148.0,0.0,0.0,12.0,8.1,30.0,20.3,...,25.0,24.0,53.0,51.0,0.0,0.0,10.0,9.6,4.0,3.8
17635,2016,ZOMBO,PAKADHA SEED SECONDARY SCHOOL P.O.BOX 143 P...,68.0,0.0,0.0,2.0,2.9,11.0,16.2,...,7.0,17.5,29.0,72.5,0.0,0.0,3.0,7.5,0.0,0.0
17636,2016,ZOMBO,"CHARITY COLLEGE,PAIDHA P.O.BOX 47 PAIDHA",128.0,0.0,0.0,4.0,3.1,6.0,4.7,...,6.0,5.8,54.0,51.9,1.0,1.0,31.0,29.8,8.0,7.7
17637,2016,ZOMBO,NEGRINI MEM. SECONDARY SCHOOL P.O.BOX 156 P...,45.0,0.0,0.0,1.0,2.2,2.0,4.4,...,2.0,6.5,19.0,61.3,0.0,0.0,9.0,29.0,1.0,3.2
17638,2016,ZOMBO,JANGOKORO SEED SEC. SCHOOL P.O.BOX 139 PAIDHA,50.0,0.0,0.0,1.0,2.0,4.0,8.0,...,4.0,18.2,10.0,45.5,0.0,0.0,7.0,31.8,0.0,0.0

In [20]:
# We can use the info() function to list the data types within our data set: 
# print(health_data.info())
# We can use the astype() function to convert the data into float64.
# health_data["Average_Pulse"] = health_data['Average_Pulse'].astype(float)
# health_data["Max_Pulse"] = health_data["Max_Pulse"].astype(float)
health_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3128 entries, 3197 to 17638
Data columns (total 48 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   YEAR                3128 non-null   int64
 1   DISTRICT            3128 non-null   object
 2   SCHOOL              3128 non-null   object
 3   TOTAL CANDIDATES    3128 non-null   float64
 4   TOTAL DIV 1         3128 non-null   float64
 5   % DIV 1             3128 non-null   float64
 6   TOTAL DIV 2         3128 non-null   float64
 7   % DIV 2             3128 non-null   float64
 8   TOTAL DIV 3         3128 non-null   float64
 9   % DIV 3             3128 non-null   float64
 10  TOTAL DIV 4         3128 non-null   float64
 11  % DIV 4             3128 non-null   float64
 12  TOTAL DIV 7         3128 non-null   float64
 13  % DIV 7             3128 non-null   float64
 14  TOTAL DIV 9         3128 non-null   float64
 15  % DIV 9             3128 non-null   float64
 16  TOTAL X             3128 non-null   float64
 17  % X                 3128 non-null   float64
 18  FEMALE CANDIDATES   3128 non-null   int64
 19  FEMALE TOTAL DIV1   3128 non-null   float64
 20  FEMALE % DIV1       3128 non-null   float64
 21  FEMALE TOTAL DIV2   3128 non-null   float64
 22  FEMALE % DIV2       3128 non-null   float64
 23  FEMALE TOTAL DIV3   3128 non-null   float64
 24  FEMALE % DIV3       3128 non-null   float64
 25  FEMALE TOTAL DIV4   3128 non-null   float64
 26  FEMALE % DIV4       3128 non-null   float64
 27  FEMALE TOTAL DIV7   3128 non-null   float64
 28  FEMALE % DIV7       3128 non-null   float64
 29  FEMALE TOTAL DIV9   3128 non-null   float64
 30  FEMALE % DIV9       3128 non-null   float64
 31  FEMALE TOTAL X      3128 non-null   float64
 32  FEMALE % X          3128 non-null   float64
 33  MALE CANDIDATES     3128 non-null   int64
 34  MALE TOTAL DIV1     3128 non-null   float64
 35  MALE % DIV1         3128 non-null   float64
 36  MALE TOTAL DIV2     3128 non-null   float64
 37  MALE % DIV2         3128 non-null   float64
 38  MALE TOTAL DIV3     3128 non-null   float64
 39  MALE % DIV3         3128 non-null   float64
 40  MALE TOTAL DIV4     3128 non-null   float64
 41  MALE % DIV4         3128 non-null   float64
 42  MALE TOTAL DIV7     3128 non-null   float64
 43  MALE % DIV7         3128 non-null   float64
 44  MALE TOTAL DIV9     3128 non-null   float64
 45  MALE % DIV9         3128 non-null   float64
 46  MALE TOTAL X        3128 non-null   float64
 47  MALE % X            3128 non-null   float64
dtypes: float64(43), int64(3), object(2)
memory usage: 1.2+ MB

# Data Categories
When we have cleaned the data set, we can start analyzing the data.
Analyze the Data
We can use the describe() function in Python to summarize data:

In [21]:
health_data.describe()

,YEAR,TOTAL CANDIDATES,TOTAL DIV 1,% DIV 1,TOTAL DIV 2,% DIV 2,TOTAL DIV 3,% DIV 3,TOTAL DIV 4,% DIV 4,...,MALE TOTAL DIV3,MALE % DIV3,MALE TOTAL DIV4,MALE % DIV4,MALE TOTAL DIV7,MALE % DIV7,MALE TOTAL DIV9,MALE % DIV9,MALE TOTAL X,MALE % X
count,3128.000000,3128.000000,3128.000000,3128.000000,3128.000000,3128.000000,3128.000000,3128.000000,3128.000000,3128.000000,...,3128.000000,3128.000000,3128.000000,3128.000000,3128.000000,3128.000000,3128.000000,3128.000000,3128.000000,3128.000000
mean,2015.948529,101.761829,6.127877,4.985358,13.208440,12.181937,19.997442,19.426758,46.869246,47.199137,...,11.103581,21.019533,22.465153,43.379668,0.226662,0.390441,6.199808,11.547698,1.153133,2.432705
std,0.393712,71.490996,19.208289,10.596406,17.745925,11.233348,17.763341,9.292870,36.542783,16.190935,...,10.117450,10.678114,18.943794,17.649871,0.659073,1.267140,8.736305,12.031251,1.638368,4.643836
min,2012.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2016.000000,53.000000,0.000000,0.000000,3.000000,4.200000,8.000000,12.700000,22.000000,41.400000,...,4.000000,13.600000,9.000000,35.300000,0.000000,0.000000,1.000000,1.600000,0.000000,0.000000
50%,2016.000000,86.000000,1.000000,1.600000,7.000000,8.700000,15.000000,18.800000,38.000000,50.700000,...,8.000000,20.500000,18.000000,46.350000,0.000000,0.000000,3.000000,8.300000,1.000000,1.200000
75%,2016.000000,130.000000,5.000000,4.800000,16.000000,16.300000,27.000000,25.800000,62.000000,57.500000,...,15.000000,27.800000,30.000000,54.925000,0.000000,0.000000,8.000000,17.600000,2.000000,3.400000
max,2016.000000,499.000000,430.000000,100.000000,230.000000,61.200000,156.000000,60.000000,289.000000,90.000000,...,100.000000,100.000000,150.000000,100.000000,15.000000,20.000000,81.000000,75.000000,16.000000,100.000000

# Data Science - Linear Functions